html{
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    background: #fafafa;
    margin: 0 0 100px; /* bottom = footer height */
}

.content {
    text-align: center;
    display: inline-block;
}

.container {
    background: #fff;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.top-content {
    margin-top: 2em !important;
}

.title {
    font-size: 96px;
}

.center { 
    text-align: center;
}

.page-description {
    margin: 50px 0 80px;
}

.nav-content { margin:80px 0; }

@media (min-width: 768px){
    .navbar-nav {
        float: left;
        margin: 0 0 0 2.2em;
    }
}