html{
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    background: #fafafa;
    margin: 0 0 100px; /* bottom = footer height */
}

.content {
    text-align: center;
    display: inline-block;
}

.container {
    background: #fff;
    padding: 0px 20px 50px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.top-content {
    margin-top: 2em !important;
}

#toCopy {
    background: #333333;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 20px;
    padding: 10px 15px;
}
.main_link .thumbnail { overflow: hidden; }
.main_link img {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.main_link:hover img {
        /* opacity: 0.05; */
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
    filter: none;
}


.main_link:hover {
    text-decoration: none;
}



.separator {
    width: 30px;
}

.title {
    font-size: 96px;
}

.center { 
    text-align: center;
}

.page-description {
    margin: 50px 0 80px;
}

.nav-content { margin:50px 0; }

@media (min-width: 768px){
    .navbar-nav {
        float: left;
        margin: 0 0 0 2.2em;
    }
   
    .lead {
        font-size: 16.5px
    }

}